<div class="container">
    <div class="col-md-12">
        <div class="row justify-content-center d-flex">
            <div *ngFor="let user of userList" class="card mycard shadow bg-white rounded mb-2 mt-2">
                <div class="row">
                    <div class="col-md-2 vertical-center">
                        <img class="img-fluid p-2 rounded-circle"
                            [src]="(user.attributes != null && user.attributes.avatar_url != null && user.attributes.avatar_url[0].length >0 ) ? user.attributes.avatar_url: 'assets/placeholder-male.jpg'"
                            alt="image">
                    </div>
                    <div class="col-md-7 vertical-center">
                        <div class="d-flex flex-column">
                            <h4>{{user.username}}</h4>
                            <p class="text-muted">{{user.email}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 vertical-center">
                        <button [ngClass]="{'btn-success': !user.enabled, 'btn-danger': user.enabled}" class="btn"
                            (click)="changeStatus(user.id, user.enabled)">{{user.enabled ? "Disable": "Enable"}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>