<div class="container">
    <div class="col-md-12">
        <div class="row justify-content-center d-flex" style="height: 80vh;">
            <div class="card mycard align-items-center shadow bg-white rounded align-self-center p-5">
                <h3>Profile</h3>
                <form style="width: 400px;" [formGroup]="profileGroup" (ngSubmit)="profileGroup.valid && onSubmit()">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="firstname_id">FirstName</label>
                                <input type="text" class="form-control" id="firstname_id" placeholder="First name"
                                    formControlName="firstName"
                                    [ngClass]="{'is-invalid': profileGroup.get('firstName').touched && profileGroup.get('firstName').invalid}">
                                <div class="invalid-feedback">
                                    First Name invalid!
                                </div>
                            </div>
                            <div class="col">
                                <label for="lastname_id">LastName</label>
                                <input type="text" class="form-control" id="lastname_id" placeholder="Last name"
                                    formControlName="lastName"
                                    [ngClass]="{'is-invalid': profileGroup.get('lastName').touched && profileGroup.get('lastName').invalid}">
                                <div class="invalid-feedback">
                                    Last Name invalid!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobileNumber_id">Mobile Number</label>
                        <input type="number" class="form-control" id="mobileNumber_id" placeholder="Mobile Number"
                            formControlName="mobileNumber"
                            [ngClass]="{'is-invalid': profileGroup.get('mobileNumber').touched && profileGroup.get('mobileNumber').invalid}">
                        <div class="invalid-feedback">
                            Mobile Number invalid!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email_id">Email</label>
                        <input type="email" class="form-control" id="email_id" placeholder="Email"
                            formControlName="email"
                            [ngClass]="{'is-invalid': profileGroup.get('email').touched && profileGroup.get('email').invalid}">
                        <div class="invalid-feedback">
                            Email is invalid!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="avatar_url_id">Avatar Url</label>
                        <input type="text" class="form-control" id="avatar_url_id" placeholder="Avatar Url"
                            formControlName="avatarUrl"
                            [ngClass]="{'is-invalid': profileGroup.get('avatarUrl').touched && profileGroup.get('avatarUrl').invalid}">
                        <div class="invalid-feedback">
                            Avatar Url is invalid!
                        </div>
                    </div>
                    <button class="btn btn-info mt-2" [disabled]="!profileGroup.valid" type="submit">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>