<div class="container">
    <div class="col-md-12">
        <div class="row justify-content-center d-flex" style="height: 80vh;">
            <div class="card mycard align-items-center shadow bg-white rounded align-self-center p-5">

                <ng-container *ngIf="userDetails; else elseTemplate">
                    <img [src]="userDetails.attributes != null ? (userDetails.attributes.avatar_url != null && userDetails.attributes.avatar_url[0].length >0 ? userDetails.attributes.avatar_url: 'assets/placeholder-male.jpg'):'assets/placeholder-male.jpg'"
                        class="rounded-circle img-fluid" width="100" height="100" alt="logo">
                    <p *ngIf="userDetails.username" class="text-muted">@{{userDetails.username}}
                    </p>
                    <h3 *ngIf="userDetails.firstName">{{ userDetails.firstName| titlecase}} {{ userDetails.lastName}}
                    </h3>
                    <p *ngIf="userDetails.email">{{userDetails.email}}</p>
                    <p *ngIf="userDetails.attributes != null">
                        <span
                            *ngIf="userDetails.attributes.mobile_number != null">{{userDetails.attributes.mobile_number}}
                        </span>
                    </p>
                </ng-container>
                <ng-template #elseTemplate>
                    <p>No profile found</p>
                </ng-template>

                <button class="btn btn-info" [routerLink]="['/profile_edit']">
                    <span>
                        <fa-icon [icon]="userEdit" class="m-1"></fa-icon>
                    </span>Edit
                </button>
            </div>
        </div>
    </div>
</div>