<div class="container">
    <div class="col-md-12">
        <div *ngIf="admin" class="row">
            <div>
                <h3>Add Product</h3>
                <form [formGroup]="productGroup" (ngSubmit)="productGroup.valid && onSubmit()">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <input type="text" placeholder="Name" formControlName="name"
                                    [ngClass]="{'is-invalid': productGroup.get('name').touched && productGroup.get('name').invalid}">
                                <div class="invalid-feedback">
                                    Product name invalid!
                                </div>
                            </div>
                            <div class="col">
                                <input type="number" placeholder="Price" formControlName="price"
                                    [ngClass]="{'is-invalid': productGroup.get('price').touched && productGroup.get('price').invalid}">

                                <div class="invalid-feedback">
                                    Price invalid!
                                </div>
                            </div>
                            <div class="col">
                                <input type="text" placeholder="Description" formControlName="description"
                                    [ngClass]="{'is-invalid': productGroup.get('description').touched && productGroup.get('description').invalid}">
                                <div class="invalid-feedback">
                                    Description invalid!
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info mt-2" [disabled]="!productGroup.valid" type="submit">Add
                        Product</button>
                </form>
            </div>
        </div>
        <div class="row d-flex">
            <div *ngFor="let product of products" class="card mycard shadow bg-white rounded mb-2 mt-2">
                <div class="row">
                    <div class="vertical-center">
                        <div class="d-flex flex-column p-3">
                            <h4>{{product.name}}</h4>
                            <button *ngIf="admin" class="btn btn-danger"
                                (click)="deleteProduct(product._id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>